:root {
  /* COLOR */
  --black: rgb(156, 156, 156);
  --green: rgb(10, 197, 174);
  --info: rgb(70, 185, 234);
  --primary: rgb(113, 70, 234);
  --purple: rgb(148, 92, 132);
  --secondary: rgb(168, 64, 114);
  --violet: rgb(252, 0, 0);
  --warning: rgb(233, 195, 0);
}
